<div><span class="bold">Check-ins: </span><%= check_in.check_in_total( timestamp_get(session), session[:date][:hour_start].to_i ) %></div>
<div><span class="bold">Last Check-In: </span> <%= check_in.check_in_last %></div>