
<div class="header">
	<%= link_to('Select a new sport!', form_path, :class=> "form-link") %>
	<%= link_to('Logout', destroy_user_session_path) %>
	<select>
		<option>all</option>
		<option>active</option>
	</select>
</div>

