
<div class="header">
	<%= link_to('Select a new sport!', form_path, :class=> "form-link") %>
	<%= link_to('Logout', destroy_user_session_path) %>
	<% if params[:status] == "active" %>
		<%= select_tag "active", 
		               options_for_select(["active","all"])%>
	<% else %>
		<%= select_tag "active", 
		               options_for_select(["all","active"])%>
	<% end %>
	
	
</div>

